{
  "a0": {
    "google" : {
      "clientId": "",
      "clientSecret": ""
    },
    "ADM_USERS" : [
      {
        "email": "user@something.com",
        "password": "somePassword",
        "level": 0
      },
      {
        "email": "google@something.com",
        "password": false,
        "level": 1
      }
    ]
  }
}
